body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Cambiar la fuente a Arial */
}

.barra-azul{
    background-color: #048fd4;
    padding: 17.5px;
}

.barra-blanca {
    background-color: white;
    padding: 0 2.05rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-blanca img {
    width: 156px;
    padding: 15px ;
}

.fondo {
    background-image: url('../Imágenes/uct.jpg');
    background-size: auto; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    padding: 320px; 
}

.contact_form {
    width: 400px;
    margin: 50px auto ;
    border-radius: 10px;
    padding: 50px;
    background-color: white;
    opacity: 0.9; 
}

input, textarea {
    background-color: #fbfbfb;
    width: 100%;
    height: 40px; 
    border-radius: 5px;
    border: none; 
    margin-top: 10px; 
    padding-left: 10px; 
}

textarea {
    height: 100px;
}

label {
    display: block;
}

button {
    height: 45px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #048fd4; 
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

button p {
   color :#fff; 
}

span {
   color :black; 
}

.aviso {
   font-size :13px; 
}

.h1 {
   font-size :39px; 
}

h3 {
   font-size :16px; 
}


.social_media h2 {
   font-family:'Arial', sans-serif; 
   font-size :24px; 
   color :#048fd4; 
   text-shadow :2px 2px 4px rgba(0,0,0,0.5); 
}

.codetheworld-io {
   display:flex; 
   justify-content:center; 
   margin-bottom :20px; 
}
   
a {
   margin :0 10px; 
   border-radius :50%; 
   box-sizing :border-box; 
   background :#fff; 
   width :100px; 
   height :100px; 
   display :flex; 
   justify-content :center; 
   align-items :center; 
   text-decoration :none; 
   transition :0.5s; 
   background :rgba(0,0,0,0); 
   color :var(--color); 
   font-size :2.5em;

   a:hover {
    background: var(--color);
    color: #fff;
    box-shadow: 0 0 5px var(--color),
    0 0 25px var(--color),
    0 0 50px var(--color),
    0 0 200px var(--color);
}
