/* Resetear algunos estilos por defecto del navegador */
body{
    margin: 0;
    padding: 0;
}

/* Estilos de la barra superior */
.barra-azul{
    background-color: #048fd4;
    padding: 17.5px;
}
/* Estilos de la barra blanca */
.barra-blanca {
    background-color: white;
    padding: 0 2.05rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-blanca img {
    width: 156px;
    padding: 15px ;
}

/* Estilos de la sección con fondo */
.fondo {
    background-image: url('./Imágenes/uct.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 320px; 
}